/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}
h1{
    font-size: 2em;
    text-align: center;
    margin-top: 30%;
}
section{
    padding: 3em;
    height: 100vh;
    position: relative;
    box-sizing: border-box;

    blockquote{
        font-size: 2em;
        width: 30%;
        margin-top: 17%;
        position: absolute;

        span{
            width: 100%;
            background: pink;
            display: block;
            height: 5px;
            margin-top: 20px;
        }
    }

    img{
        position: absolute;
    }
    img:nth-of-type(2){
        width: 40%;
        right: 0;
        top: 20%;
    }
    img:nth-of-type(1){
        width: 25%;
        right: 40%;
        top: 16%;
        margin-top: 25%;
    }
}

.sticky{
    background: white !important;
}


#box{
    width: 100px;
    height: 100px;
    position: absolute;
    border: 5px solid pink;
    margin: auto;
    top: 15%;
    bottom: 0;
    left: 0;
    right: 0;
}