/* You can add global styles to this file, and also import other style files */
.mainimg{
    background-image: url(./main-img2.jpg);
    padding: 26.7%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.mainimg2{
    background-image: url(./img3.jpg);
    padding: 26.7%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}