<mat-card-content>
    <h2 class="example-h2">Material Tab</h2>
    <mat-tab-group>
      <mat-tab label="A">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Vero, omnis? Quo voluptates fugiat neque qui recusandae. 
           Iste, autem accusamus a, asperiores est ad labore neque beatae ab 
           praesentium dolor alias.
           Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Vero, omnis? Quo voluptates fugiat neque qui recusandae. 
           Iste, autem accusamus a, asperiores est ad labore neque beatae ab 
           praesentium dolor alias.
           Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Vero, omnis? Quo voluptates fugiat neque qui recusandae. 
             Iste, autem accusamus a, asperiores est ad labore neque beatae ab 
             praesentium dolor alias.</p>
      </mat-tab>
      <mat-tab label="B">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Vero, omnis? Quo voluptates fugiat neque qui recusandae. 
          Iste, autem accusamus a, asperiores est ad labore neque beatae ab 
          praesentium dolor alias.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Vero, omnis? Quo voluptates fugiat neque qui recusandae. 
            Iste, autem accusamus a, asperiores est ad labore neque beatae ab 
            praesentium dolor alias.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Vero, omnis? Quo voluptates fugiat neque qui recusandae. 
            Iste, autem accusamus a, asperiores est ad labore neque beatae ab 
            praesentium dolor alias.</p>
      </mat-tab>
      <mat-tab label="C">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Vero, omnis? Quo voluptates fugiat neque qui recusandae. 
          Iste, autem accusamus a, asperiores est ad labore neque beatae ab 
          praesentium dolor alias.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Vero, omnis? Quo voluptates fugiat neque qui recusandae. 
          Iste, autem accusamus a, asperiores est ad labore neque beatae ab 
          praesentium dolor alias.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Vero, omnis? Quo voluptates fugiat neque qui recusandae. 
            Iste, autem accusamus a, asperiores est ad labore neque beatae ab 
            praesentium dolor alias.Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Vero, omnis? Quo voluptates fugiat neque qui recusandae. 
            Iste, autem accusamus a, asperiores est ad labore neque beatae ab 
            praesentium dolor alias.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Vero, omnis? Quo voluptates fugiat neque qui recusandae. 
              Iste, autem accusamus a, asperiores est ad labore neque beatae ab 
              praesentium dolor alias.</p>
      </mat-tab>
      <mat-tab label="D">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Vero, omnis? Quo voluptates fugiat neque qui recusandae. 
          Iste, autem accusamus a, asperiores est ad labore neque beatae ab 
          praesentium dolor alias.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Vero, omnis? Quo voluptates fugiat neque qui recusandae. 
          Iste, autem accusamus a, asperiores est ad labore neque beatae ab 
          praesentium dolor alias.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Vero, omnis? Quo voluptates fugiat neque qui recusandae. 
            Iste, autem accusamus a, asperiores est ad labore neque beatae ab 
            praesentium dolor alias.</p>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>