<p>flower works!</p>
<h1>WELCOME !!!</h1>

<div class="mainimg">
</div>

<br>
 
  <div class="container">
      <h2>Freesia</h2>       
      <img class="rounded-circle responsive" src="../main-img2.jpg" alt="">
      <p>What we call freesias are actually cultivated hybrids of a number of flowers in the Freesia family,
           and that’s why we refer to them as their scientific name. Unlike many of the other entries in this list, 
           these beautiful trumpet-like blooms aren’t named after something in Latin or Greek, 
           but take their name from botanist and doctor Friedrich Freese..</p>
  </div>



<div class="mainimg2">
</div>