<div class="container">		

	<div class="card">
		<div class="title">
            <p>Professional</p>
            <p>Art course</p>
		</div>
		<div class="price">
            <h5>500</h5>
        </div>
		<div class="option">
            <li>Free for first 10 User</li>
				<li>Email: binal.patel.sa@gmail.com</li>
				<li>Help Line</li>
		</div>
			<button type="button">Enroll now</button>
	</div>		

    <div class="card">
		<div class="title">
            <p>Professional</p>
            <p>Art course</p>
		</div>
		<div class="price">
            <h5>500</h5>
        </div>
		<div class="option">
            <li>Free for first 10 User</li>
            <li>Email: binal.patel.sa@gmail.com</li>
				<li>Help Line</li>
		</div>
			<button type="button">Enroll now</button>
	</div>		

    <div class="card">
		<div class="title">
            <p>Professional</p>
            <p>Art course</p>
		</div>
		<div class="price">
            <h5>500</h5>
        </div>
		<div class="option">
				<li>Free for first 10 User</li>
				<li>Email: binal.patel.sa@gmail.com</li>
				<li>Help Line</li>
		</div>
			<button type="button">Enroll now</button>
	</div>		

	
</div>