h1{
    font-family: freight-sans-pro;
    font-size: 62px;
    margin: 200px 0 0 200px ;
    color: red;
}
h2{
    font-family: freight-sans-pro;
    margin: 50px 0 0 200px ;
}
.img1{
    height: 70%;
    width: 100%;
    margin: 50px ;
}
.img2{
height: 30%;
width: 100%;
margin: 60px 30px 0 60px;
}